.navbar-brand img {
    max-width: 120px;
    height: auto;
}

.nav-link {
    font-size: 1.12rem;
    color: rgb(106, 175, 2)!important;
}

.nav-link:hover {
    color: green!important;
}

.logo-sm {
    max-width: 40px;
    align-content: center;
}

.navbar-collapse {
    justify-content: flex-end!important;
}
